*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    color: beige;
}

html body{
    height: 100%;
    width: 100%;  
}

body::-webkit-scrollbar{
    display: block;
    width: 7px;
    background-color: gold;
}

body::-webkit-scrollbar-thumb{
    background-color: aliceblue;
    border-radius: 30px;
}

#bar{
    height: 120px;
    width: 100%;
    display: flex;
    padding: 0 150px;
    gap: 60px;
    position: fixed;
    align-items: center;
    z-index: 99;
    justify-content: flex-start;
}

.login_btn{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s;
    font-weight: 900;
    
}



.pages{
    position: relative;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    margin-left: 15px;
    text-transform: uppercase;
}

.pages::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.pages:hover::after{
    transform: scaleX(1);

}

.login_btn:hover{
    background-color: aquamarine;
    color: rgb(32, 37, 22);
}

.login-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 430px;
    background: transparent;
    border: 3px solid rgba(0, 0, 0, 0.714);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    overflow: hidden;
    transition:  height .2s ease;
    bottom: 455vh;
    left: 32em;
    transform: scale(0);
    transition: .5s ease;
    z-index: 1;
}

.login-box.active-popup{
    transform: scale(1);

}

.login-box.active{
    height: 500px;
}

.form-box{
    transition: transform .18s ease;
    transform: translateX(0);
}

.login-box.active .form-box{
    transition: none;
    transform: translateX(-400px);
}


.form-box-reg{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.form-box-reg h2{
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.login-box.active .form-box-reg{
    transition: transform .18s ease;
    transform: translateX(0);
}

.icon-closed{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50px;
    height: 50px;
    background-color: rgb(10, 61, 63);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.login-box .form-box{
    width: 100%;
    padding: 30px; 
}

.login-box{
    z-index: 1;
}


.form-box h2{
    font-size: 2em;
    color: rgb(224, 238, 238);
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 45px;
    border-bottom: 2px solid rgb(212, 171, 171);
    margin: 30px 0;
}



.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(216, 197, 197);
    font-weight: 500;
    pointer-events: none;
    transition: .4s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #c9aaaa;
    font-weight: 600;
    padding: 0 30px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(195, 178, 178);
    line-height: 55px;
}

.rem-for {
    font-size: 1em;
    color: rgba(207, 168, 168, 0.695);
    font-weight: 500;
    margin: -15px 0 15px 0;
    display: flex;
    justify-content: space-between;
}

.rem-for label input{
    accent-color: rgba(238, 203, 203, 0.644);
    margin-right: 3px;
}

.rem-for a{
    color: rgb(189, 227, 227);
    text-decoration: none;
}

.rem-for a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background-color: rgb(18, 159, 206);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-reg{
    font-size: .9em;
    color: rgb(196, 228, 228);
    text-align: center;
    font-weight: 500;
    margin: 23px 0 10px 0;
}

.login-reg p a{
    color: rgb(196, 232, 232);
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.4em;
}

.login-reg p a:hover{
    text-decoration: underline;
}



#bar img{
    height: 100px; 
}



video{
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

#menu{
    position: relative; 
    background-color: #00000043;  
    z-index: 1;
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page1 h1{
    font-size: 40px;
    font-weight: bold;
    position: relative;
}

#page1 h1::before{
    content: "WELCOME TO THE ZONE OF THE GREAT SUMIT";
    position: absolute;
    color: black;
    top: -2.1px;
    left:-2.4px;
    -webkit-text-stroke: 1px #9cee38;
    z-index: -1;
}

#page1 h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

#page2{
    min-height: 100vh;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}


#page2 img{
    height: 350px;
    width: 350px;
    border-radius: 20px;

}

#about-us{
    width: 50%;
    text-align: center;

}

#about-us h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

#about-us p{
    font-size: 16px;
    line-height: 25px;
}

#card-boxes{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    position: relative;
    transition: all ease .5s;
    z-index: 1;

}

#card-boxes .card {
    height: 80%;
    width: 26%;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    z-index: 1;

}

#card1{
    background-image: url(https://images8.alphacoders.com/128/thumbbig-1284988.webp);
}

#card2{
    background-image: url(https://e0.pxfuel.com/wallpapers/68/849/desktop-wallpaper-jujutsu-kaisen-yuji-itadori-sukuna-skuna.jpg);
}

#card3{
    background-image: url(https://pixelz.cc/wp-content/uploads/2019/02/naruto-vs-sasuke-uhd-4k-wallpaper.jpg);
}

.overlay{
    height: 56vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    position: relative;
    transition: all ease .5s;
    z-index: 1;

}

.overlay #over1{
    height: 100%;
    width: 100%;
    bottom: 20px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.overlay #over2{
    height: 100%;
    width: 100%;
    bottom: 20px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.overlay #over3{
    height: 100%;
    width: 100%;
    bottom: 20px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.overlay:hover{
    opacity: 0;
}

.card:hover{
    transform: rotate3d(1,1,0,18deg);
    transition: all ease .6s;
}

#blue-div{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(62, 135, 237);
}

#blue-div h4{
    font-size: 25px;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
}

#blue-div img{
    height: 100%;

}

#page3{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#page3>p{
    font-size: 20px;
    color: rgb(176, 209, 209);
    font-weight: 800;
    width: 50%;
    text-align: center;
    line-height: 35px;
}

#page3 img{
    position: absolute;
    height: 50px;
}

#page3 #colon1{
    left: 20%;
    top: 20%;
}

#page4{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    position: relative;
}

.cart{
    height: 60%;
    width:29%;
    overflow: hidden;
    border-radius: 16px;
    transition: all ease .6s;
    scale: 1.1;
}

.cart img{
    height: 100%;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    cursor: pointer;
    
}

.cart:hover{
    scale: 1;
}

#page4 h1{
    font-size: 65px;
    position: absolute;
    top: 2%;
    color: #000;
    -webkit-text-stroke: 2px white;
}

#footer{
    height: 60vh;
    width: 100%;
    background-color: cadetblue;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 190px;
}

#footer>img{
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}

#foot1 img{
    height :150px;
}

#footer h2{
    font-size: 40px;
    line-height: 20px;
    color: #000;
}

span{
    color: #000;

}
